# state
*.tfstate*

# Module directory
.terraform/

# lock files
**/.terraform.lock.hcl
!examples/**/.terraform.lock.hcl


# keys
*id_rsa*
*.pem

# other
node_modules/
.idea
.DS_Store
*.out
secrets.auto.tfvars
.envrc
*.zip
*.gz
*.tgz
*.env*

**/coverage/*

node_modules/
site/
