name: Build lambdas
on:
  pull_request:
    branches:
      - main
    paths:
      - 'lambdas/**'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [18]
    container:
      image: node:${{ matrix.node }}
    defaults:
      run:
        working-directory: ./lambdas

    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v3.2.0
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Run prettier
        run: yarn format-check
      - name: Run linter
        run: yarn lint
      - name: Run tests
        id: test
        run: yarn test
      - name: Build distribution
        run: yarn build
      - name: Upload coverage report
        uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32 # v31.2
        if: ${{ failure() }}
        with:
          name: coverage-reports
          path: ./**/coverage
          retention-days: 5
